.source-link {
  color: #fff;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 12px;
  position: absolute;
  right: 15px;
  bottom: 10px;
  text-decoration: none;
  margin: 0;
}





// Glendale Title

.title {
  position: absolute;
  margin: 0 auto;
  left: 43%;
  top: 22%;
  display: flex;
  flex-direction: column;
  padding: 30px;

  img {
    margin-left: 100px;
  }
}

.test-path {
    stroke-dasharray: 180;
    stroke-dashoffset: 180;
    transition: 2.5s ease-in;
}

.test-path-2 {
  stroke-dashoffset: 0;
}


// Sub-Title

.sub-title-container {
  position: relative;
  top: 50px;
  left: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sub-title {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-style: italic;
  padding: 5px;

  span {
    font-weight: 100;
    font-style: normal;
  }
}

.portfolio-btn {
  background-color: rgba(0,0,0,0.4);
  width: 200px;
  height: 40px;
  border: 1px solid #fff;
  color: #fff;
  font-size: 14px;
  margin: 5px;
  cursor: pointer;
}

