
.menu {
  position: absolute;
  top: 15px;
  right: 15px;
  margin: 0;
  display: flex;
  align-items: center;

  @include tablet-min {
    top: 10px;
  }

  @include lg-desktop {
    top: 25px;
    right: 25px;
  }

  p {
    color: #fff;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 12px;
    margin: 0 12px 0 0;
    @include lg-desktop {
      font-size: 20px;
      margin: 0 20px 0 0;
    }
  }
}

.hamburger {
  width: 19px;
  height: 16px;
  position: relative;
  cursor: pointer;

  @include lg-desktop {
      width: 40px;
      height: 32px;
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    content: "";
    width: 19px;
    height: 2px;
    background-color: white;

    @include lg-desktop {
        width: 40px;
        height: 5px;
    }
      
  }

  .hamburger-mid {
    position: absolute;
    top: 7.5px;
    width: 19px;
    height: 2px;
    background-color: white;

    @include lg-desktop {
        top: 13px;
        width: 40px;
        height: 5px;
    }
  }

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    width: 19px;
    height: 2px;
    background-color: white;

    @include lg-desktop {
        width: 40px;
        height: 5px;
    }
  }
}

