@import url('https://fonts.googleapis.com/css?family=Roboto:100i,400|Open+Sans+Condensed:700|Open+Sans:300,300i,400');

html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
}
* {
  box-sizing: border-box;
}