.portfolio-title-container {
  position: absolute;
  top: 18%;
  left: 12%;

  p {
    text-align: right;
  }
}

.portfolio-title {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  margin: 0; 
}

.slider-container {
  position: absolute;
  right: -26px;
  top: 60%;
  transform: translateY(-50%);
  display: flex;
  width: 66vw;
  height: 22vw;
  background-color: rgba(0,0,0,0.2);
  overflow: hidden;
  z-index: 2;
}


.project {
  width: 22vw;
  height: 22vw;
  // margin: 0 10px;
  margin-left: 20px;
  // border-left: 10px solid maroon;
  // border-right: 10px solid maroon;
  // border: 10px solid rgba(0,0,0,0);
  background-color: lightgray;
  cursor: pointer;

  &:first-child {
    margin-left: 0;
  }
  
  &:hover {
    box-shadow: none;
  }
}

.project-slider {
  width: auto;
  display: flex;
}