.scroll-btn-container {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  background-color: rgba(30,30,30,0.4);
  border-radius: 50%;
  width: 62px;
  height: 62px;
  text-align: center;
  z-index: 2;

  @include lg-desktop {
    bottom: 25px;
    width: 90px;
    height: 90px;
    svg {
      width: 90px;
      height: 90px;
    }
  }

}
#scroll-btn {
  border-radius: 50%;
  position: relative;
  z-index: 2;
  path {
    stroke-dashoffset: 70;
    transition: 0.35s ease-in-out;
  }
}
#scroll-btn:hover {
  path {
    stroke: #fff;
    stroke-dasharray: 190;
    stroke-dashoffset: 0;
    transition: 0.35s ease-in-out;
  }
}
.down-arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -25%);
  z-index: 1;
}

.scroll-btn-text {
  position: absolute;
  color: #FFF;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 10px;
  top: -20px; 
  left: 50%;
  width: 120%;
  transform: translateX(-50%);

  @include lg-desktop {
    font-size: 16px;
    top: -35px;
  }
}
