.social-nav {
  display: none;

  @include tablet-min {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 12px;
    position: absolute;
    left: 15px;
    bottom: 10px;
    margin: 0;
    display: flex;
  }

  a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
  }
  a:last-child{
    margin-right: 0;
  }
}
